    /* site */
    .name {
        color: #fff;
        font-size: 42px;
        font-weight: 800;
    }

    .badge {
        height: 2.2rem !important;
        width: 2.2rem !important;
        position: absolute;
        bottom: -1rem;
        margin-left: 1px;
    }

    .hight-light-text-gry {
        background-color: #242430;
        padding: 1px;
        padding-right: 4px !important;
        padding-left: 4px !important;
        border-radius: 4px;
    }


    header span:hover,
    .card:hover {
        cursor: pointer;
        transition-duration: 0.2s;
    }

    header span {
        transition: background-color 75ms ease-in-out;
        transition: box-shadow 75ms ease-in-out;
    }

    .pfp {
        cursor: default;
        width: 50%;
        float: right;
        overflow: hidden;
    }

    .list {
        display: grid;
        margin: auto;
        grid-template-columns: repeat(auto-fit, 380px);
        grid-gap: 50px;
        justify-content: center;
        margin-top: 180px;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .card {
        background-color: #242430;
        transform: rotate(0deg);
        transition: transform 0.2s ease-in-out;
        border-radius: 0.5rem;
        padding: 1.25rem;
        place-content: space-around;
        --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }

    .card:hover {
        transform: rotate(2deg);
        --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }

    .card-img {
        border-radius: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;
    }

    .card-title {
        font-weight: 700;
        margin-left: 0.75rem;
        margin-top: 0.5rem;
    }

    .card-desc {
        --tw-text-opacity: 1;
        color: rgba(156, 163, 175, var(--tw-text-opacity));
        margin-top: 0.5rem;
        padding-top: 0.67rem;
    }

    .card-url {
        --tw-text-opacity: 1;
        color: rgba(147, 197, 253, var(--tw-text-opacity));
        margin-top: 0.5rem;
    }

    @media only screen and (max-width: 600px) {
        .list {
            grid-gap: 30px;
            margin-top: 220px;
        }
    }


    /* Link effects */
    .aho {
        transition-duration: 300ms;
    }

    .aho:hover {
        color: #9D174D;
    }

    .saho {
        color: #ffb5bd;
        transition-duration: 300ms;
    }

    .saho:hover {
        color: #9D174D;
    }

    bold {
        font-weight: 600;
    }

    white {
        color: rgb(207, 207, 207);
        font-weight: 600;
    }


    /* fonts */
    .font-Indie_Flower {
        font-family: 'Indie Flower', cursive;
    }

    .font-Roboto {
        font-family: 'Roboto', sans-serif;
    }

    .font-Open_Sans {
        font-family: 'Open Sans', sans-serif;
    }


    /*  page */
    .page {
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        background-color: #161122;
        overflow-x: hidden;
        user-select: none;
    }

    .main-text {
        color: #fff;
        font-size: 64px;
        font-weight: 800;
    }

    .sub-text {
        font-size: 20px;
        color: #a8a8b8
    }

    .spicutes {
        border-radius: 0.6rem;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        width: 26rem;
    }


    /* Scroll bar  */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #242430;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #30303f;
    }


    /* footer */
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin: 0 0 100px;
    }

    #bottom-footer {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 40px;
        width: 100%;
    }

    .center-footer {
        text-align: center;
        margin-top: 1rem;
        color: #a8a8b8;
    }
