/* Text styling */
.text-margin {
    margin-left: 10%;
}


.name {
    color: #fff;
    font-size: 42px;
    font-weight: 800;
}

.hight-light-text-gry {
    background-color: #242430;
    padding: 1px;
    padding-right: 4px !important;
    padding-left: 4px !important;
    border-radius: 4px;
}

.main-text {
    color: #fff;
    font-size: 64px;
    font-weight: 800;
}

.sub-text {
    font-size: 20px;
    color: #a8a8b8
}

.aho {
    transition-duration: 300ms;
}

.aho:hover {
    color: #9D174D;
}

.saho {
    color: #ffb5bd;
    transition-duration: 300ms;
}

.saho:hover {
    color: #9D174D;
}

bold {
    font-weight: 600;
}

white {
    color: rgb(207, 207, 207);
    font-weight: 600;
}



/* fonts */
.font-Indie_Flower {
    font-family: 'Indie Flower', cursive;
}

.font-Roboto {
    font-family: 'Roboto', sans-serif;
}

.font-Open_Sans {
    font-family: 'Open Sans', sans-serif;
}