/*
    Note: This code is under the GNU General Public License v3.0
    Check our this link for more Informations: https://github.com/Luna-devv/Modern-Website/blob/main/LICENSE.
    ©️ Luna 2021
*/


/* Text styling */
.top-padding {
    padding-top: 7rem;
}

.text-margin {
    margin-left: 10%;
}

.name {
    color: #fff;
    font-size: 42px;
    font-weight: 800;
}

.hight-light-text-gry {
    background-color: #242430;
    padding: 1px;
    padding-right: 4px !important;
    padding-left: 4px !important;
    border-radius: 4px;
}

.main-text {
    color: #fff;
    font-size: 64px;
    font-weight: 800;
}

.sub-text {
    font-size: 20px;
    color: #a8a8b8
}

bold {
    font-weight: 600;
}

white {
    color: rgb(207, 207, 207);
    font-weight: 600;
}


/* Links */
.aho {
    transition-duration: 300ms;
}

.aho:hover {
    color: #9D174D;
}

.saho {
    color: #ffb5bd;
    transition-duration: 300ms;
}

.saho:hover {
    color: #9D174D;
}


/* fonts */
.font-Roboto {
    font-family: 'Roboto', sans-serif;
}

.font-Lato {
    font-family: 'Lato', sans-serif;
}


/* Responisve */
@media only screen and (max-width: 1034px) {
    .top-padding {
        padding-top: 1rem!important;
    }

    .text-margin {
        margin: 1rem;
    }

    div {
        overflow-x: hidden;
    }
}